.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

table
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
  }

table th
  {
  border:2px solid #98bf21;
  padding:6px 14px 4px 14px;
  font-size:1.6em;
  text-align:left;
  padding-top:10px;
  padding-bottom:8px;
  background-color:blue;
  color:#ffffff;
  }

table th.todo
  {
    width: 33%
  }

table th.doing
  {
    width: 33%
  }

table th.done
  {
    width: 33%
  }

table td
  {
  vertical-align: top;
  }
