{% macro list_table_td(tasks ,state) %}
<td>
    <ul class="posts">
        {% for task in tasks %}
            <li class="post">
                <div class="post-content">
                    <div class="post-author">{{ task.body }}</div>
                    <div class="post-footer">
                        {% if state != 'todo' %}
                            <a href="{{ url_for('main.change_to_todo', task_id=task.id, _external=True) }}">
                                <span class="label label-primary">change to todo</span>
                            </a>
                        {% endif %}
                        {% if state != 'doing' %}
                            <a href="{{ url_for('main.change_to_doing', task_id=task.id, _external=True) }}">
                                <span class="label label-primary">change doing</span>
                            </a>
                        {% endif %}
                        {% if state != 'done' %}
                            <a href="{{ url_for('main.change_to_done', task_id=task.id, _external=True) }}">
                                <span class="label label-primary">change to done</span>
                            </a>
                        {% endif %}
                        <a href="{{ url_for('main.delete_task', task_id=task.id, _external=True) }}">
                            <span class="label label-primary">delete task</span>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</td>
{% endmacro %}