{% macro list_grid_td(tasks, state_list) %}
 <div class="container tasks-table">
    <div class="row">
        {% for task_state in state_list %}
            <div class="col-md-4 task-title-bg">
                <div class="list-group-item task-title">
                    <h3 class="text-capitalize">{{ task_state }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for task_state in state_list %}
            <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for task in tasks[task_state] %}
                        <li>
                            <div class="list-group-item task">
                                <div class="task-body">
                                    <h4>{{ task.body }}</h4>
                                </div>
                                <div class="task-options">
                                    {% if task_state != 'todo' %}
                                        <a href="{{ url_for('main.change_to_todo', task_id=task.id, _external=True) }}"
                                           class="btn btn-primary btn-xs" role="button">
                                            change todo
                                        </a>
                                    {% endif %}
                                    {% if task_state != 'doing' %}
                                        <a href="{{ url_for('main.change_to_doing', task_id=task.id, _external=True) }}"
                                            class="btn btn-primary btn-xs" role="button">
                                            change doing
                                        </a>
                                    {% endif %}
                                    {% if task_state != 'done' %}
                                        <a href="{{ url_for('main.change_to_done', task_id=task.id, _external=True) }}"
                                            class="btn btn-primary btn-xs" role="button">
                                            change to done
                                        </a>
                                    {% endif %}
                                    <a href="{{ url_for('main.delete_task', task_id=task.id, _external=True) }}"
                                        class="btn btn-danger btn-xs" role="button">
                                        delete task
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
