{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}


{% macro footer() %}
    <footer class="footer">
        <div class="panel-footer ">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="h3">About This Website</div>
                    <p>A Todo list created by jtr109.</p>
                    <p>Thanks for viewing my website.</p>
                </div>
                <div class="col-md-3">
                    <div class="h3">About Me</div>
                    <ul class="list-unstyled">
                        <li><p>Name: 李元培</p></li>
                        <li><p>Location: Suzhou, Jiangsu, China</p></li>
                        <li><p>Email: <a href="mailto:357626927@qq.com">357626927@qq.com</a> </p></li>
                        <li><p>Github: <a href="https://github.com/jtr109">jtr109</a></p></li>
                        <li><p>Cocode: <a href="http://cocode.cc/users/jtr_109/summary">Summary - jtr_109</a> </p></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="h3">My WeChat</div>
                    <img class="img-responsive img-rounded" src="{{ url_for('static', filename='weixin_QR.jpg') }}">
                </div>
            </div>
        </div>
    </footer>
{% endmacro %}
