{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_list_table_macros.html" as list_table_macros %}

{% block title %}ToDo{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        {{ current_list.title }}
    </h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
<br>
<div>
    <table border="1">
        <tr>
            <th>To Do</th>
            <th>Doing</th>
            <th>Done</th>
        </tr>
        <tr>
            {{ list_table_macros.list_table_td(todo_tasks ,'todo') }}
            {{ list_table_macros.list_table_td(doing_tasks ,'doing') }}
            {{ list_table_macros.list_table_td(done_tasks ,'done') }}
        </tr>
    </table>
</div>
<br>
<div><a href="{{ url_for('main.delete_todo_list', list_id=current_list.id, _external=True) }}">Delete this todo list</a></div>
{% endblock %}
