{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ToDo{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}
        {% else %}
            Stranger
        {% endif %}
        !
    </h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
<ul class="posts">
    {% for todo_list in todo_lists %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">{{ moment(todo_list.timestamp).fromNow() }}</div>
            <div class="post-author">
                <a href="{{ url_for('main.todo_list_details', list_id=todo_list.id) }}">
                    {{ todo_list.title }}
                </a>
            </div>
            <div class="post-body">{{ todo_list.master.username }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
